@keyframes background-important {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

@keyframes text-throbbing {
  from {
    font-size: 1em;
    letter-spacing: normal;
  }
  to {
    font-size: 1.5em;
    letter-spacing: 0.25em;
  }
}

@keyframes background-progress {
  0% {
    background: repeating-linear-gradient(
      135deg,
      lightgrey,
      darkgrey 1%,
      lightgrey 2%
    );
    background-size: 300rem;
    background-position: 400% 100%;
  }
  50% {
    background: repeating-linear-gradient(
      135deg,
      lightgrey,
      darkgrey 1%,
      lightgrey 2%
    );
    background-size: 300rem;
    background-position: 0% 100%;
  }
  100% {
    background: repeating-linear-gradient(
      135deg,
      lightgrey,
      darkgrey 1%,
      lightgrey 2%
    );
    background-size: 300rem;
    background-position: -400% 100%;
  }
}

.ani-important {
  animation: background-important 0.5s linear 0s infinite alternate both;
}

.ani-important > td {
  background: initial;
}

.ani-loading {
  animation: background-progress 200s linear 0s infinite normal both;
}

.ani-loading > td {
  background: initial;
}

.ani-throbbing {
  animation: text-throbbing 1.5s linear 0s infinite alternate both;
}
